<nav class="navbar navbar-dark" id="main-navbar">
  <a class="navbar-brand" href="/app">Lisa</a>
  <span class="navbar-brand"
    >Welcome, <%= currentUser.name.firstName %> <%= moment() %>
  </span>
  <form action="/logout?_method=DELETE" method="POST">
    <button type="submit" class="btn btn-outline-light">
      <i class="fas fa-sign-out-alt"></i>
    </button>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="offcanvas"
      data-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
  </form>
  <div class="navbar-collapse offcanvas-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <h5>
            <a class="nav-link" href="/app/new"
              ><i class="far fa-plus-square"></i> Create Entry</a
            >
          </h5>
        </li>
        <li class="nav-item">
          <h5>
            <a class="nav-link" href="#"
              ><i class="fas fa-info-circle"></i> About</a
            >
          </h5>
        </li>
        <li class="nav-item">
          <h5>
            <a class="nav-link" href="#"
              ><i class="fas fa-cogs"></i> Settings</a
            >
          </h5>
        </li>
        <form
          class="form-inline mt-5"
          action="/app/search?_method=PUT"
          method="POST"
        >
          <div
            class="d-block input-group input-group-sm position-relative w-100"
          >
            <select
              class="form-control mr-sm-2"
              name="searchFilter"
              id="search-filter"
              style="width: 35%;"
            >
              <option value="name[lastName]">Last Name</option>
              <option value="reservationID">Reservation ID</option>
              <option value="accomodation[property]">Property</option>
              <option value="date">Arrival</option>
              <option value="date">Departure</option>
            </select>
            <input
              class="form-control mr-sm-2"
              type="search"
              placeholder="Search"
              aria-label="Search"
              style="width: 59%; padding-left: 26px;"
            />
            <svg
              width="16px"
              height="16px"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 512 512"
              style="position: absolute; left: 9em; top: 0.5em; z-index: 6;"
            >
              <path
                d="M505 442.7L405.3 343c-4.5-4.5-10.6-7-17-7H372c27.6-35.3 44-79.7 44-128C416 93.1 322.9 0 208 0S0 93.1 0 208s93.1 208 208 208c48.3 0 92.7-16.4 128-44v16.3c0 6.4 2.5 12.5 7 17l99.7 99.7c9.4 9.4 24.6 9.4 33.9 0l28.3-28.3c9.4-9.4 9.4-24.6.1-34zM208 336c-70.7 0-128-57.2-128-128 0-70.7 57.2-128 128-128 70.7 0 128 57.2 128 128 0 70.7-57.2 128-128 128z"
              />
            </svg>
          </div>
        </form>
      </ul>
    </div>
  </div>
</nav>
