<% if (typeof errors != 'undefined') { %> <% for ( let i = 0; i < errors.length;
i++ ) { %>
<div
  class="alert <% if (errors[i].name === 'UserAlreadyExistsError') { %> alert-danger <% } else { %> alert-warning <% } %> alert-dismissible fade show"
  role="alert"
  id="<%= errors[i].name %>"
>
  <%= errors[i].msg %>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<% } %> <% } %>
