<% if (typeof regSuccess != 'undefined') { %>
<div class="alert alert-success" role="alert">
  <h4 class="alert-heading">Success!</h4>
  <p class="m-0">Now, let's get you logged in!</p>
</div>
<% } %>
