<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head.ejs') %>
  </head>
  <body>
    <% if (navOn) { %> <%- include('./partials/nav.ejs') %> <% } %>
    <div class="container my-4">
      <%- body %>
    </div>
  </body>
</html>
