<div class="container">
  <h1>What is Lisa?</h1>
  <hr />
  <p>
    It's no secret that hospitality is a difficult industry in which to work.
    From top-down, managers, concierges, front desk agents, valets,
    housekeepers, and more work around the clock to ensure that their guests are
    satisfied and relaxed.
  </p>
  <p>
    It's also no secret that things don't go according to plan sometimes. A
    valet doesn't get the heads-up that a guest needs their car brought to the
    front door. A housekeeping team forgets to check if the guest staying in
    room 323 needed service on a given morning. Despite any hiccups, guests are
    able to shake it off, are gracious enough to offer benefit of the doubt, and
    notify the front desk of the given issue.
  </p>
  <p>
    However, some guests react negatively and harshly in the face of mishaps.
    Colloquially, these kinds of guests are called "Karens". When these guests
    approach staff, they often are confrontational and unnecessarily harsh. With
    little to no forewarning, an agent, housekeeper, valet, etc. is caught
    off-guard and speechless.
  </p>
  <p><strong>Lisa</strong> was designed to tackle this problem.</p>
</div>
