<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head.ejs') %>
  </head>
  <body>
    <h1>Index page</h1>
    <button onclick="window.location.href='/app/new'">ADD</button>
    <div class="container">
      <% for (let entry of entries) { %>
      <div>
        <a href="/app/<%= entry.id %>"
          ><%= entry.name.lastName %>, <%= entry.name.firstName %></a
        >
      </div>
      <% } %>
    </div>
  </body>
</html>
