<h1>Create Entry</h1>
<div class="container">
  <form action="/app" method="POST">
    <div class="form-group">
      <div class="row">
        <div class="col">
          <label for="last-name">Last Name</label>
          <input
            class="form-control"
            type="text"
            name="name[lastName]"
            id="last-name"
          />
        </div>
        <div class="col">
          <div class="form-group">
            <label for="first-name">First Name</label>
            <input
              class="form-control"
              type="text"
              name="name[firstName]"
              id="first-name"
            />
          </div>
        </div>
        <div class="col">
          <div class="form-group">
            <label for="reservation-id">Reservation ID</label>
            <input
              class="form-control"
              type="text"
              name="reservationID"
              id="reservation-id"
            />
          </div>
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="row">
        <div class="col">
          <div class="form-group">
            <label for="arrived">Arrived</label>
            <input
              class="form-control"
              type="date"
              name="arrived"
              id="arrived"
            />
          </div>
        </div>
        <div class="col">
          <div class="form-group">
            <label for="departed">Departed</label>
            <input
              class="form-control"
              type="date"
              name="departed"
              id="departed"
            />
          </div>
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="row">
        <div class="col">
          <div class="form-group">
            <label for="accomodation-property">Property</label>
            <input
              type="text"
              name="accomodation[property]"
              id="accomodation-property"
              class="form-control"
            />
          </div>
        </div>
        <div class="col">
          <div class="form-group">
            <label for="accomodation-room">Room Number</label>
            <input
              type="number"
              name="accomodation[roomNumber]"
              id="accomodation-room"
              class="form-control"
            />
          </div>
        </div>
      </div>
    </div>
    <button class="btn btn-primary" type="submit">ENTER</button>
  </form>
  <button class="btn btn-primary" onclick="window.location.href='/app'">
    RETURN
  </button>
</div>
