<div class="card mx-auto mt-5" style="width: 18rem;">
  <img src="/img/lobby.jpg" class="card-img-top" alt="..." />
  <div class="card-body">
    <h5 class="card-title text-center">Login</h5>
    <form action="/login" method="POST">
      <fieldset class="form-group">
        <label for="email-login">Email</label>
        <input
          class="form-control"
          type="text"
          name="email"
          placeholder="Email"
          id="email-login"
        />
      </fieldset>
      <fieldset class="form-group">
        <label for="password-login">Password</label>
        <input
          class="form-control"
          type="text"
          name="password"
          id="password-login"
          placeholder="Password"
        />
      </fieldset>
      <button class="btn btn-primary d-block mx-auto" type="submit">
        LOGIN
      </button>
    </form>
    <p class="card-text text-center mt-4">
      <span>Need an account?</span
      ><span><a class="ml-2" href="/register">Register</a></span>
    </p>
  </div>
</div>
<script>
  $(() => {
    const userUtcOffset = moment().utcOffset()
    $('form').attr('action', `/login/${userUtcOffset}`)
  })
</script>
