<div class="card mx-auto my-0" style="width: 18rem;">
  <img src="/img/lobby.jpg" class="card-img-top" alt="..." />
  <div class="card-body">
    <h5 class="card-title text-center">Login</h5>
    <form action="/login" method="POST">
      <fieldset class="form-group">
        <label for="username-login">Username</label>
        <input
          class="form-control"
          type="text"
          name="username"
          placeholder="Username"
          id="username-login"
        />
      </fieldset>
      <fieldset class="form-group">
        <label for="password-login">Password</label>
        <input
          class="form-control"
          type="text"
          name="password"
          id="password-login"
          placeholder="Password"
        />
      </fieldset>
      <button class="btn btn-primary" type="submit">LOGIN</button>
    </form>
    <p class="card-text mt-4">
      <span>Need an account?</span
      ><span><a class="ml-2" href="/register">Register</a></span>
    </p>
  </div>
</div>
